In [6]:
import os
import pandas as pd
import csv

In [7]:
state_income_data='income_by_state.csv'
state_income_pd = pd.read_csv(state_income_data)
winery_data='state_wineries.csv'
winery_pd = pd.read_csv(winery_data)
population_data = 'census_population_by_state.csv'
population_pd = pd.read_csv(population_data)
brewery_data = 'breweries_us.csv'
brewery_pd = pd.read_csv(brewery_data)

In [8]:
state_income_pd['State'] = state_income_pd['State'].str.upper()
# state_income_pd = state_income_pd.rename(columns={'State': 'state'}, inplace=True)
state_income_pd.head()

,State,2018 Median income,2017 Median income,2016 Median income,2015 Median income
0,UNITED STATES,"63,179","61,372","59,039","56,516"
1,ALABAMA,"49,936","51,113","47,221","44,509"
2,ALASKA,"68,734","72,231","75,723","75,112"
3,ARIZONA,"62,283","61,125","57,100","52,248"
4,ARKANSAS,"49,781","48,829","45,907","42,798"

In [9]:
brewery_pd

,brewery_name,type,address,website,state,state_breweries
0,Valley Brewing Co.,Brewpub,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,california,284
1,Valley Brewing Co.,Brewpub,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,california,284
2,Valley Brewing Co,Microbrewery,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,california,284
3,Ukiah Brewing Company,Brewpub,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,california,284
4,Tustin Brewing Co.,Brewpub,"13011 Newport Ave. #100, Tustin, California, 9...",http://www.tustinbrewery.com/,california,284
...,...,...,...,...,...,...
2402,Capitol City Brewing Company (Capitol Hill),Brewpub,"2 Massachusetts Ave., Washington, DC, Washingt...",http://www.capcitybrew.com/,washington-dc,9
2403,Capitol City Brewing Company,Brewpub,"1100 New York Ave. NW, Washington, DC, Washing...",http://www.capcitybrew.com/,washington-dc,9
2404,Old Harbor Brewery,Brewpub,"Gen del Valle 1021 Urb Delicias, San Juan, PR,...",http://oldharborbrewery.com/,puerto-rico,3
2405,Isla Verde Brewing Co.,Microbrewery,"Condiminum Torrimar Plaza # 14B, Guaynabo , PR...",...,puerto-rico,3
2406,Cerveceria India Inc,RegionalBrewery,"PO Box 1690, Mayaguez, PR, 681",...,puerto-rico,3

In [10]:
brewery_pd['state'] = brewery_pd['state'].str.upper()
breweries_by_state = brewery_pd.groupby(['state'])
brewery_state_count = breweries_by_state.count()
brewery_state_count = brewery_state_count['state_breweries']
brewery_state_count

state
ALABAMA             6
ALASKA             14
ARIZONA            34
ARKANSAS            7
CALIFORNIA        284
COLORADO          182
CONNECTICUT        11
DELAWARE           14
FLORIDA            99
GEORGIA            47
HAWAII             10
IDAHO              28
ILLINOIS           74
INDIANA            31
IOWA               13
KANSAS             26
KENTUCKY           12
LOUISIANA          15
MAINE              44
MARYLAND           43
MASSACHUSETTS      71
MICHIGAN           94
MINNESOTA          40
MISSOURI           21
MONTANA            32
NEBRASKA           15
NEVADA             18
NEW-HAMPSHIRE      18
NEW-JERSEY         41
NEW-MEXICO         37
NEW-YORK          107
NORTH-CAROLINA     61
NORTH-DAKOTA        5
OHIO               56
OKLAHOMA           16
OREGON            156
PENNSYLVANIA      107
PUERTO-RICO         3
RHODE-ISLAND       12
SOUTH-CAROLINA     32
SOUTH-DAKOTA       11
TENNESSEE          28
TEXAS              90
UTAH               21
VERMONT            28
VIRGINIA           43
WASHINGTON        151
WASHINGTON-DC       9
WEST-VIRGINIA       5
WISCONSIN          77
WYOMING             8
Name: state_breweries, dtype: int64

In [11]:
Chicago = brewery_pd[brewery_pd['address'].str.contains('Chicago, Illinois')]

In [12]:
Chicago

,brewery_name,type,address,website,state,state_breweries
812,Todds Beer Inc.,ContractBrewery,"3216 N Sheffield, Fl 2, Chicago, Illinois, 60657",http://www.toddsbeer.com/,ILLINOIS,74
819,Slopeside Brewing Co.,ContractBrewery,"3445 N. Elaine Pl., Chicago, Illinois, 60657",...,ILLINOIS,74
820,Rock Bottom Brewery (#7),Brewpub,"1 W. Grand Ave., Chicago, Illinois, 60610",http://www.rockbottom.com/,ILLINOIS,74
824,RJ's Ginseng,ContractBrewery,"P.O. Box 10437, Chicago, Illinois, 60610",...,ILLINOIS,74
825,River West Brewing Co.,Brewpub-Closed,"925 W. Chicago Ave., Chicago, Illinois, 60622",...,ILLINOIS,74
826,Revolution Brewing,Microbrewery,"P O Box 471534, Chicago, Illinois, 60647",http://revbrew.com/,ILLINOIS,74
830,Piece Brewery,Brewpub,"1927 W North Ave., Chicago, Illinois, 60622",http://www.piecechicago.com/,ILLINOIS,74
831,Peter Hand Brewing Co.,Microbrewery,"Chicago, Illinois",...,ILLINOIS,74
841,Metropolitan Brewing Co.,Microbrewery,"Chicago, Illinois",http://www.metropolitanbrewing.com/,ILLINOIS,74
842,Metropolitan Brewing Co,Microbrewery,"5121 N Ravenswood Ave, Chicago, Illinois, 60640",www.metropolitanbrewing.com,ILLINOIS,74
853,Half Acre Beer Co,Microbrewery,"4257 N. Lincoln Ave., Chicago, Illinois, 60618",http://www.halfacrebeer.com/,ILLINOIS,74
857,Goose Island Brewing Co. (#3),Brewpub,"3535 N Clark St, Chicago, Illinois, 60657",http://www.gooseisland.com/,ILLINOIS,74
858,Goose Island Brewing Co. (#2),Microbrewery,"1800 W. Fulton, Chicago, Illinois, 60612",http://www.gooseisland.com/,ILLINOIS,74
859,Goose Island Brewing Co. (#1),Brewpub,"1800 N. Clybourn, Chicago, Illinois, 60614",http://www.gooseisland.com/,ILLINOIS,74
860,Golden Prairie Brewing Co.,Microbrewery,"2536 N. Elston Ave., Chicago, Illinois, 60647",...,ILLINOIS,74
871,"Drinking and Writing Brewery, The",Microbrewery,"1444 W Hollywood Ave, Chicago, Illinois, 60660",http://www.drinkingandwriting.com/,ILLINOIS,74
874,Chicago Brewing Company,Microbrewery,"1830 N. Besly Ct., Chicago, Illinois, 60622",http://www.chicagobrewingcolv.com/,ILLINOIS,74
882,"Beverly Brewing Company, LLC",ContractBrewery,"10448 South Seeley Ave, Chicago, Illinois, 60643",http://www.beverlybrewingco.com/,ILLINOIS,74

In [13]:
population_pd

,NAME,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018
0,United States,320742673,323071342,325147121,327167434
1,Alabama,4853160,4864745,4875120,4887871
2,Alaska,737547,741504,739786,737438
3,Arizona,6833596,6945452,7048876,7171646
4,Arkansas,2978407,2990410,3002997,3013825
5,California,38953142,39209127,39399349,39557045
6,Colorado,5452107,5540921,5615902,5695564
7,Connecticut,3587509,3578674,3573880,3572665
8,Delaware,941413,949216,957078,967171
9,District of Columbia,675254,686575,695691,702455
10,Florida,20224249,20629982,20976812,21299325
11,Georgia,10181111,10304763,10413055,10519475
12,Hawaii,1422484,1428105,1424203,1420491
13,Idaho,1651523,1682930,1718904,1754208
14,Illinois,12864342,12826895,12786196,12741080
15,Indiana,6608296,6633344,6660082,6691878
16,Iowa,3121460,3131785,3143637,3156145
17,Kansas,2909502,2911263,2910689,2911505
18,Kentucky,4425999,4438229,4453874,4468402
19,Louisiana,4664851,4678215,4670818,4659978
20,Maine,1328484,1331370,1335063,1338404
21,Maryland,5986717,6004692,6024891,6042718
22,Massachusetts,6795891,6826022,6863246,6902149
23,Michigan,9932573,9951890,9976447,9995915
24,Minnesota,5482503,5523409,5568155,5611179
25,Mississippi,2988693,2988298,2989663,2986530
26,Missouri,6071745,6087203,6108612,6126452
27,Montana,1030503,1040863,1053090,1062305
28,Nebraska,1891507,1905924,1917575,1929268
29,Nevada,2868666,2919772,2972405,3034392
30,New Hampshire,1336294,1342373,1349767,1356458
31,New Jersey,8870869,8874516,8888543,8908520
32,New Mexico,2090211,2092789,2093395,2095428
33,New York,19661411,19641589,19590719,19542209
34,North Carolina,10033079,10156679,10270800,10383620
35,North Dakota,754022,754353,755176,760077
36,Ohio,11617850,11635003,11664129,11689442
37,Oklahoma,3909831,3926769,3932640,3943079
38,Oregon,4016918,4091404,4146592,4190713
39,Pennsylvania,12785759,12783538,12790447,12807060
40,Rhode Island,1056173,1057063,1056486,1057315
41,South Carolina,4892253,4958235,5021219,5084127
42,South Dakota,853933,862890,873286,882235
43,Tennessee,6590808,6645011,6708794,6770010
44,Texas,27486814,27937492,28322717,28701845
45,Utah,2982497,3042613,3103118,3161105
46,Vermont,625197,623644,624525,626299
47,Virginia,8362907,8410946,8465207,8517685
48,Washington,7163543,7294680,7425432,7535591
49,West Virginia,1841996,1830929,1817048,1805832
50,Wisconsin,5761406,5772958,5792051,5813568
51,Wyoming,585668,584290,578934,577737
52,Puerto Rico,3473166,3406495,3325001,3195153

In [14]:
population_pd['NAME'] = population_pd['NAME'].str.upper()
population_pd

,NAME,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018
0,UNITED STATES,320742673,323071342,325147121,327167434
1,ALABAMA,4853160,4864745,4875120,4887871
2,ALASKA,737547,741504,739786,737438
3,ARIZONA,6833596,6945452,7048876,7171646
4,ARKANSAS,2978407,2990410,3002997,3013825
5,CALIFORNIA,38953142,39209127,39399349,39557045
6,COLORADO,5452107,5540921,5615902,5695564
7,CONNECTICUT,3587509,3578674,3573880,3572665
8,DELAWARE,941413,949216,957078,967171
9,DISTRICT OF COLUMBIA,675254,686575,695691,702455
10,FLORIDA,20224249,20629982,20976812,21299325
11,GEORGIA,10181111,10304763,10413055,10519475
12,HAWAII,1422484,1428105,1424203,1420491
13,IDAHO,1651523,1682930,1718904,1754208
14,ILLINOIS,12864342,12826895,12786196,12741080
15,INDIANA,6608296,6633344,6660082,6691878
16,IOWA,3121460,3131785,3143637,3156145
17,KANSAS,2909502,2911263,2910689,2911505
18,KENTUCKY,4425999,4438229,4453874,4468402
19,LOUISIANA,4664851,4678215,4670818,4659978
20,MAINE,1328484,1331370,1335063,1338404
21,MARYLAND,5986717,6004692,6024891,6042718
22,MASSACHUSETTS,6795891,6826022,6863246,6902149
23,MICHIGAN,9932573,9951890,9976447,9995915
24,MINNESOTA,5482503,5523409,5568155,5611179
25,MISSISSIPPI,2988693,2988298,2989663,2986530
26,MISSOURI,6071745,6087203,6108612,6126452
27,MONTANA,1030503,1040863,1053090,1062305
28,NEBRASKA,1891507,1905924,1917575,1929268
29,NEVADA,2868666,2919772,2972405,3034392
30,NEW HAMPSHIRE,1336294,1342373,1349767,1356458
31,NEW JERSEY,8870869,8874516,8888543,8908520
32,NEW MEXICO,2090211,2092789,2093395,2095428
33,NEW YORK,19661411,19641589,19590719,19542209
34,NORTH CAROLINA,10033079,10156679,10270800,10383620
35,NORTH DAKOTA,754022,754353,755176,760077
36,OHIO,11617850,11635003,11664129,11689442
37,OKLAHOMA,3909831,3926769,3932640,3943079
38,OREGON,4016918,4091404,4146592,4190713
39,PENNSYLVANIA,12785759,12783538,12790447,12807060
40,RHODE ISLAND,1056173,1057063,1056486,1057315
41,SOUTH CAROLINA,4892253,4958235,5021219,5084127
42,SOUTH DAKOTA,853933,862890,873286,882235
43,TENNESSEE,6590808,6645011,6708794,6770010
44,TEXAS,27486814,27937492,28322717,28701845
45,UTAH,2982497,3042613,3103118,3161105
46,VERMONT,625197,623644,624525,626299
47,VIRGINIA,8362907,8410946,8465207,8517685
48,WASHINGTON,7163543,7294680,7425432,7535591
49,WEST VIRGINIA,1841996,1830929,1817048,1805832
50,WISCONSIN,5761406,5772958,5792051,5813568
51,WYOMING,585668,584290,578934,577737
52,PUERTO RICO,3473166,3406495,3325001,3195153

In [15]:
winery_pd['state'] = winery_pd['state'].str.upper()
winery_pd

             state  wineries
0          ALABAMA         9
1           ALASKA         8
2          ARIZONA        26
3         ARKANSAS        10
4       CALIFORNIA      2025
5         COLORADO        72
6      CONNECTICUT        28
7         DELAWARE         2
8          FLORIDA        46
9          GEORGIA        20
10          HAWAII         4
11           IDAHO        32
12        ILLINOIS        83
13         INDIANA        40
14            IOWA        62
15          KANSAS        16
16        KENTUCKY        44
17       LOUISIANA         7
18           MAINE        14
19        MARYLAND        31
20   MASSACHUSETTS        31
21        MICHIGAN       112
22       MINNESOTA        26
23     MISSISSIPPI         2
24        MISSOURI        86
25         MONTANA        10
26        NEBRASKA        20
27          NEVADA         5
28   NEW HAMPSHIRE        10
29      NEW JERSEY        41
30      NEW MEXICO        36
31        NEW YORK       239
32  NORTH CAROLINA        74
33    NORTH DAKOTA         8
34            OHIO       108
35        OKLAHOMA        46
36          OREGON       295
37    PENNSYLVANIA       115
38    RHODE ISLAND         7
39  SOUTH CAROLINA        11
40    SOUTH DAKOTA        14
41       TENNESSEE        29
42           TEXAS       136
43            UTAH         7
44         VERMONT        14
45        VIRGINIA       140
46      WASHINGTON       451
47   WEST VIRGINIA        16
48       WISCONSIN        41
49         WYOMING         3

AttributeError: 'NoneType' object has no attribute 'head'